
<div class="hpanel">
	<div class="panel-heading hbuilt ">
		<div class="row" >
			<div class="col-sm-10" term-box>
			
			</div>
			<div class="col-sm-2" >
				<button class="btn btn-default btn-block " ng-click="search()"><i class="fa fa-fw fa-search"></i> 搜索</button>
			</div>
		</div>
	</div>
	<div class="panel-body" style="display: block;">
		<div class="row">
			<div class="table-responsive col-md-12">
				<table class="table table-bordered table-striped" cellpadding="1" cellspacing="1">
					<thead>
						<tr>
						</tr>
					</thead>
					<tbody ng-repeat="row in result">
						<tr>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel-footer" style="display: block;">
		<div class="row">
			<div class="col-md-8">
				总共查询到数据0条，每页显示
				<select >
					<option>5</option>
					<option>10</option>
					<option>15</option>
					<option>35</option>
					<option>50</option>
					<option>75</option>
					<option>100</option>
				</select>条
			</div>
			<div class="col-md-4 pagination-example">
				<uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" ng-bind="$$ceresQueryForm.form.title"></h3>
				<select ng-model="$$ceresQueryForm.page.size" ng-change="$$ceresQueryForm.toPage($$ceresQueryForm.page.cur)"  ng-options="s as '每页: '+s for s in $$ceresQueryForm.page.sizes"> 
					</select><span ng-if="$$ceresQueryForm.pageTotal() > 1" ng-bind="'当前第'+$$ceresQueryForm.page.cur+'页'"></span> 
				<div class="box-tools pull-right">
					<ul class="pagination pagination-sm inline"
						ng-if="$$ceresQueryForm.pageTotal() > 1">
						<li><a ng-click="$$ceresQueryForm.toPage(1)">«</a></li>
						<li ng-repeat="n in $$ceresQueryForm.page.numbers">
							<a ng-bind="n" ng-click="$$ceresQueryForm.toPage(n)"></a>
						</li>
						<li><a
							ng-click="$$ceresQueryForm.toPage($$ceresQueryForm.pageTotal())">»</a></li>
					</ul>
					<button class="btn btn-xs " style="visibility: hidden;">占</button>
				</div>
			</div>
			<div class="box-body">
				<query-form-term class="row"></query-form-term>
				<table class="table table-condensed table-hover table-responsive">
					<thead>
						<tr>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in $$ceresQueryForm.data">

						</tr>
					</tbody>
				</table>
			</div>
			/.box-body
			<div class="overlay hide">
			  <i class="fa fa-refresh fa-spin"></i>
			</div>
		</div>
		/.box
	</div>
</div>
<div ceres-select-menu-callback="onMenuSelected"></div> -->
