
<div class="hpanel" ng-controller="codetableCtrl">
	<div class="panel-body" style="display: block;">
		<div class="row">
			<div class="table-responsive col-md-12">
				<table class="table table-bordered table-striped" cellpadding="1" cellspacing="1">
					<thead>
						<tr>
							<th class="text-center">字典名称</th>
							<th class="text-center">选项个数</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cate in categorys">
							<td ng-bind="cate.desc" class="text-center"></td>
							<td ng-bind="cate.codes.length" class="text-center"></td>
							<td class="text-center" width="20%">
								<!-- <button class="btn btn-default btn-xs" uib-popover="排序上移" popover-trigger="mouseenter"><i class="fa fa-arrow-up"></i></button>
					                	<button class="btn btn-default btn-xs" uib-popover="排序下移" popover-trigger="mouseenter"><i class="fa fa-arrow-down"></i></button> -->
								<button class="btn btn-default btn-xs"
									ng-click="editCodeTable(cate)">
									<i class="fa fa-edit"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel-footer" style="display: block;">
		<div class="row">
		</div>
	</div>
</div>

