<div class="row" >
<div class="row" >
	<div class="col-sm-10" term-box>
	
	</div>
	<div class="col-sm-2" ng-show="config.search==undefined || config.search==true">
		<button class="btn btn-default btn-block " ng-click="search()" term-search><i class="fa fa-fw fa-search"></i> 搜索</button>
	</div>
</div>
</div>
<div class="hr-line-dashed" ng-show="def.terms.length>0 && (config.search==true || config.search==undefined)"></div>
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table ng-class="config.tableClass" cellpadding="1" cellspacing="1">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="row in result">
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row" ng-show="config.search==undefined || config.footer==true">
	<div class="col-md-8">
		总共查询到数据0条，每页显示
		<select >
			<option>5</option>
			<option>10</option>
			<option>15</option>
			<option>35</option>
			<option>50</option>
			<option>75</option>
			<option>100</option>
		</select>条
	</div>
	<div class="col-md-4 pagination-example">
		<uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
	</div>
</div>
