<div class="row" >
	<div class="col-md-12">
		<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">服务商</h3>
              <button class="btn btn-success btn-sm pull-right" ng-if="enable == 'false'" ng-click="makeOpen('N')">我要开启短信服务</button>
              <button class="btn btn-danger btn-sm pull-right" ng-if="enable == 'true'" ng-click="makeOpen('Y')">我要关闭短信服务</button>
              <!-- <span class="pull-right" ng-if="enable == 'false'">当前状态为“已关闭”</span>
              <span class="pull-right" ng-if="enable == 'true'">当前状态为“已开启”</span> -->
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">短信服务平台</label>
                  <div class="col-sm-5">
                     <select class="form-control" ng-model="provider_name" ng-change="changeProvider(sms)" ng-options="sms.name as sms.name for sms in smsProviders" ></select>
                  </div>
                   <small class=" col-sm-5 control-label " style="text-align:left;"></small>
                </div>
                <div class="form-group" ng-repeat="key in authkeys">
                  <label class="col-sm-2 control-label" ng-bind="key.desc"></label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="key.value"  >
                  </div>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-primary pull-right" ng-click="doUpdate()">确认修改</button>
              </div><!-- /.box-footer -->
            </form>
          </div>
	</div>
</div>