<div class="row" >
	<div class="col-md-12">
		<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">文章编辑</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
            	<div class="col-md-3">
					<img class="img-responsive" resfs="{{article.cover_img}}" width="240" height="240" />
				 	<br />
					<button type="file" ngf-select="onCoverSelect($files)" accept="image/*" ngf-max-size="3MB"
						class="btn btn-sm btn-success">上传封面</button>              		
	            </div>
	            <div class="col-md-9">
	            	<div class="form-group">
	                  <label class="control-label">标题<font color="red">*</font></label>
	                  <input type="text" class="form-control"  ng-model="article.title"  >
	                </div>
	            </div>
	            <div class="col-md-3">
	            	<div class="form-group">
	                  <label class="control-label">作者</label>
	                  <input type="text" class="form-control"  ng-model="article.author"  >
	                </div>
            	</div>
            	<div class="col-md-3">
	            	<div class="form-group">
	                  <label class="control-label">来源</label>
	                  <input type="text" class="form-control"  ng-model="article.source"  >
	                </div>
            	</div>
            	<div class="col-md-3">
	            	<div class="form-group">
	                  <label class="control-label">分类<font color="red">*</font></label>
	                  <select class="form-control" ng-model="article.category" ng-options="s.key as s.desc for s in categorys"></select>
	                </div>
            	</div>
            	<div class="col-md-6">
	            	<div class="form-group">
	                  <label class="control-label">发布时间(仅做显示用)</label>
	                  <div class="input-group">
	                  	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                    <input type="text" class="form-control" readonly formatDate id="publish_time" ng-model="article.publish_time"  format-date="yyyy-MM-dd HH:mm:ss" >
	                   </div>
	                </div>
            	</div>
            	<div class="col-md-3">
	            	<div class="form-group">
	                  <label class="control-label">是否显示</label>
	                  <select class="form-control" ng-model="article.visible" ng-options="s.key as s.desc for s in yesno"></select>
	                </div>
            	</div>
            	<div class="col-md-12">
            		<div class="form-group">
	                  <label class=" control-label">摘要</label>
	                  <textarea    rows="3" placeholder="请输入文章摘要" ng-model="article.summary" style="width:100%"></textarea>
	               </div>
            	</div>
            	<div class="col-md-12">
            		<div class="form-group">
	                  <label class=" control-label">内容</label>
	                  <textarea   id="desc_content" name="desc_content"  rows="16" placeholder="请输入文章内容" ng-model="article.content"></textarea>
	               </div>
            	</div>
              </div><!-- /.box-body -->
              <div class="box-footer">
              	<a  class="btn btn-default " id="back" ng-href="#/article/search">返回列表</a>
                <button type="button" class="btn btn-primary pull-right" ng-click="confirm()">保存修改</button>
              </div><!-- /.box-footer -->
            </form>
          </div>
	</div>
</div>
