<div class="inmodal">
	<div class="color-line"></div>
	<div class="modal-header text-center">
		<h3>修改我的登录密码</h3>
		<!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
		<small class="font-bold">请在左侧地图拾取你的位置并在右边完善地址信息</small>
	</div>
	<div class="modal-body">
		<form class="ng-pristine ng-valid " action="#" id="modifyPwdForm">
			<div class="form-group">
                 <label class="control-label">当前登录密码</label>
                 <input placeholder="6-20个字符，包含大小写" class="form-control" ng-model="__modifyMyPassword.oldPwd" type="password">
             </div>
             <div class="form-group">
                 <label class="control-label">输入新密码</label>
                 <input placeholder="6-20个字符，包含大小写" class="form-control" ng-model="__modifyMyPassword.newPwd" type="password">
             </div>
             <div class="form-group">
                 <label class="control-label" >重复新密码</label>
                 <input placeholder="6-20个字符，包含大小写" class="form-control" ng-model="__modifyMyPassword.confirmPwd" type="password">
             </div>
         </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
		<button ladda="busying" type="button" class="btn btn-danger" id="pickup-ok"
			ng-click="modify()">确认修改</button>
	</div>
</div>

