<div class="color-line"></div>
<!-- <div class="back-link">
    <a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a>
</div> -->

<div class="login-container" ng-controller="commonLoginCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3> 欢迎登录 <font ng-bind="platform.frontendShortName"></font> 管理系统</h3>
                <!-- <small>This is the best app ever!</small> -->
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form  id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">登录用户名</label>
                                <input type="text" placeholder="请输入您的登录用户名" title="请输入您的登录用户名" required="" value="" name="username" id="username" class="form-control" ng-model="loginEntity.loginId">
                                <span class="help-block small hide">您在平台的唯一登录名</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">登录密码</label>
                                <input type="password" title="请输入您的登录密码" placeholder="请输入您的登录密码" required="" value="" name="password" id="password" class="form-control" ng-model="loginEntity.loginPwd">
                            </div>
                            <div class="checkbox">
                                    <input icheck type="checkbox" ng-model="loginEntity.remember" ng-init="remember = true">
                                     记住我的登录状态<font class="help-block small" style="display:inline;">(请勿在公用电脑上选择此选项)</font>
                                	<p></p>
                            </div>
                            <button class="btn btn-success btn-block" ng-click="doLogin()">登录</button>
                            <a class="btn btn-default btn-block hide" href="#">注册</a>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- <strong>HOMER</strong> - AngularJS Responsive WebApp  --><br/> <font ng-bind="platform.developerCopyright"></font> <font ng-bind="platform.developerName"></font>
        </div>
    </div>
</div>
