<div class="row" >
<div class="row" >
	<div class="col-sm-10" term-box>
	
	</div>
	<div class="col-sm-2" ng-show="config.search==undefined || config.search==true">
		<button class="btn btn-default btn-block ladda-button ladda-button-demo " data-style="zoom-in" ladda="searching" ng-click="search()" term-search><i class="fa fa-fw fa-search"></i> 搜索</button>
	</div>
</div>
</div>
<div class="hr-line-dashed" ng-show="def.terms.length>0 && (config.search==true || config.search==undefined)"></div>
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table ng-class="config.tableClass" cellpadding="1" cellspacing="1">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="row in result">
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row" ng-show="config.search==undefined || config.footer==true">
	<div class="col-md-8">
		总共查询到数据<font ng-bind="terms.page.totalElements"></font>条，每页显示
		<select ng-model="terms.page.pageSize" ng-options="s as s for s in terms.page.sizeArray" ng-change="search()">
			
		</select>条
	</div>
	<div class="col-md-4 pagination-example">
		<uib-pagination total-items="terms.page.totalPages * 10" ng-model="terms.page.pageNumber" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pagination-sm pull-right"></uib-pagination>
		<!-- <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination> -->
	</div>
</div>
