<div ng-controller="workbenchCtrl">
<!-- Header -->
<div id="header" ng-include="'/api/classpath/query/support/web/console/theme/homer/views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'/api/classpath/query/support/web/console/theme/homer/views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="content" animate-panel effect="zoomIn">

</div>

    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'/api/classpath/query/support/web/console/theme/homer/views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'/api/classpath/query/support/web/console/theme/homer/views/common/footer.html'"></footer>
</div>
</div>