<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cerestech.middleware.balance.mapper.LogMapper">
	
	<select id="search" resultType="cn.cerestech.middleware.balance.entity.Log">
		SELECT lg.* FROM `$$balance_log` lg 
		WHERE TRUE
		<if test="owner_id != null">
			AND	lg.owner_id = #{owner_id}
		</if>
		<if test="owner_type != null and owner_type != ''">
			AND lg.owner_type = #{owner_type}
		</if>
		<if test="balance_type != null and balance_type != ''">
			AND lg.balance_type = #{balance_type}
		</if>
		ORDER BY lg.create_time DESC
		<if test="pageSize != null and offset != null">
			LIMIT #{offset}, #{pageSize}
		</if>
	</select>
	
	<select id="searchLog" resultType="cn.cerestech.middleware.balance.entity.Log">
		SELECT lg.* FROM `$$balance_log` lg 
		WHERE TRUE
		<if test="ceriter != null">
			<if test="ceriter.owner_id != null">
				AND	lg.owner_id = #{ceriter.owner_id}
			</if>
			<if test="ceriter.owner_type != null and ceriter.owner_type != ''">
				AND lg.owner_type = #{ceriter.owner_type}
			</if>
			<if test="ceriter.balance_type != null and ceriter.balance_type != ''">
				AND lg.balance_type = #{ceriter.balance_type}
			</if>
			<if test="ceriter.action_type != null and ceriter.action_type != ''">
				AND lg.action_type = #{ceriter.action_type}
			</if>
			<if test="ceriter.status != null and ceriter.status != ''">
				AND lg.status = #{ceriter.status}
			</if>
			<if test="ceriter.fromDate != null">
				AND lg.account_time &gt;= #{ceriter.fromDate}
			</if>
			<if test="ceriter.toDate != null">
				AND lg.account_time &lt;= #{ceriter.toDate}
			</if>
		</if>
		ORDER BY lg.account_time DESC
		<if test="ceriter != null">
			<if test="ceriter.offset != null and ceriter.pageSize != null">
				LIMIT #{ceriter.offset},#{ceriter.pageSize}
			</if>
		</if>
	</select>
	<select id="searchLogCount" resultType="java.lang.Long">
	    SELECT COUNT(lg.id) FROM `$$balance_log` lg 
		WHERE TRUE
		<if test="ceriter != null">
			<if test="ceriter.owner_id != null">
				AND	lg.owner_id = #{ceriter.owner_id}
			</if>
			<if test="ceriter.owner_type != null and ceriter.owner_type != ''">
				AND lg.owner_type = #{ceriter.owner_type}
			</if>
			<if test="ceriter.balance_type != null and ceriter.balance_type != ''">
				AND lg.balance_type = #{ceriter.balance_type}
			</if>
			<if test="ceriter.action_type != null and ceriter.action_type != ''">
				AND lg.action_type = #{ceriter.action_type}
			</if>
			<if test="ceriter.status != null and ceriter.status != ''">
				AND lg.status = #{ceriter.status}
			</if>
			<if test="ceriter.fromDate != null">
				AND lg.account_time &gt;= #{ceriter.fromDate}
			</if>
			<if test="ceriter.toDate != null">
				AND lg.account_time &lt;= #{ceriter.toDate}
			</if>
		</if>
	</select>
</mapper>